<!--
Generated template for the NurseViewUpdates page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

<ion-navbar>
<ion-title>View Updates</ion-title>
</ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label>Child Name</ion-label>
        <ion-select [(ngModel)]="childFilter">
          <ion-option *ngFor="let c of children | async" value={{c.childName}}>
            {{c.childName}}
          </ion-option>
          <ion-option>
              All Children
          </ion-option>
        </ion-select> 
      </ion-item>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let update of updates | async">
        <ion-card *ngIf="(this.childFilter != undefined && !this.childFilter.includes('All Children')) ? update.child == this.childFilter : true;"
            class={{update.session}}>
        <ion-card-content>
          <p *ngIf="update.child != 'none';">Child: {{update.child}}</p>
          <p *ngIf="update.session != 'none';">Session: {{update.session}}</p>
          <p *ngIf="update.mood != 'none';">Mood: {{update.mood}}</p>
          <p *ngIf="update.attendingStaff != 'none';">Attending staff: {{update.attendingStaff}}</p>
          <p *ngIf="update.nurseStaff != 'none';">On duty nurse: {{update.nurseStaff}}</p>
          <p *ngIf="update.specialist != 'none';">Specialist: {{update.specialist}}</p>
          <p *ngIf="update.fellowStaff != 'none';">Fellow: {{update.fellowStaff}}</p>
          <p *ngIf="update.overnight != 'none';">Overnight update: {{update.overnight}}</p>
          <p *ngIf="update.Other != 'none';">Other updates: {{update.Other}}</p>
          <ion-note class="right">{{timeConverter(-update.timestamp)}}</ion-note>
<!-- {{Seen(update.child, update.timestamp)}} -->
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
