page-home {

}

.right {
  float: right;
}
p {
  white-space: normal;
  color: black;
  margin-bottom: -0.3em;
  margin-top: -0.3em;
}

.day {
	background-color:#90CAF8;
}
.night {
	// background-color:#CFD8DC;
	// background-color: #6600ff;
	background-color: #4E146E;
}
