<ion-header>
  <ion-navbar >
  	<button ion-button menuToggle>
      <ion-icon id=" myMenu" name="menu"></ion-icon>
    </button>
    <ion-title>
        DayByDay
    </ion-title>
    <ion-buttons end>
        <button ion-button (click)="logout()">
            Logout
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="parentPage">

  <ion-list>
    <ion-item *ngFor="let update of updates | async">
      <ion-card *ngIf="update.child == mychild;">
        <ion-card-header>
          <p *ngIf="update.child != 'none';">Child: {{update.child}}</p>
        </ion-card-header>
        <ion-card-content>
          <p *ngIf="update.session != 'none';">Session: {{update.session}}</p>
          <p *ngIf="update.mood != 'none';">Mood: {{update.mood}}</p>
          <p *ngIf="update.attendingStaff != 'none';">Attending staff: {{update.attendingStaff}}</p>
          <p *ngIf="update.nurseStaff != 'none';">On duty nurse: {{update.nurseStaff}}</p>
          <p *ngIf="update.specialist != 'none';">Specialist: {{update.specialist}}</p>
          <p *ngIf="update.fellowStaff != 'none';">Fellow: {{update.fellowStaff}}</p>
          <p *ngIf="update.overnight != 'none';">Overnight update: {{update.overnight}}</p>
          <p *ngIf="update.Other != 'none';">Other updates: {{update.Other}}</p>
          <ion-note class="right">{{timeConverter(-update.timestamp)}}</ion-note>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
