
<ion-header>
  <ion-navbar>
    <ion-title>View Children</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-item *ngFor="let child of children | async">
      <ion-card (click)="goToEditor(child)" style="background-color:#eeeeee">
        <ion-card-header>
          <ion-row>
            <ion-col>
              {{child.childName}}
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                Parent: {{child.parentName}}
              </ion-col>
              <ion-col>
                Suite: {{child.suite}}
              </ion-col>
              <ion-col>
              <div *ngIf="child.isActive; else greycircle">
                <img src="assets/icon/isActive_circle.png" style= "max-width:20px;max-height:20px;"/>
              </div>
              <template #greycircle>
                <img src="assets/icon/isNotActive_circle.png" style= "max-width:20px;max-height:20px;"/>
              </template>
            </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
</ion-content>
