.title {
    display: inline-block;
}
.update-button {
    display: inline-block;
    float: right;
}
.nursePage{
	.item-inner{
		background-color: lightblue;
		padding-left:20px;
		border-radius:10px;
		margin-top:5px;
		margin-bottom:5px;
		border-style:ridge;
		border-width:2px;
	}
}

.item-md {
    border-bottom: gray solid 1px;
}
